<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
        <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <div class="nav">
            <span>
                <a href="/" title="Homepage">home</a>
            </span>
            <span>
                <a href="/login" title="Login">login</a>
            </span>
            <span>
                <a href="/reg" title="Register">register</a>
            </span>
        </div>

        <article>
