<%- include header %>
<form class="" action="" method="post">
    username: <input type="text" name="name" value=""><br>
    password: <input type="password" name="password" value=""> <br>
                <input type="submit" name="name" value="Login here">
</form>
<%- include footer%>
