<%- include header %>
    <form class="" action="" method="post">
        Username: <input type="text" name="name" value=""><br>
        Password: <input type="password" name="password" value=""> <br>
        Confirm  password: <input type="password" name="password-repeat" value=""> <br>
        Mailbox: <input type="email" name="email" value=""> <br>
        <input type="submit" value="Register">
    </form>
<%- include footer %>
